{% extends 'layout.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="edit-entry">
            <h2>Edit Entry</h2>
            <form method="POST" action="">
                {{form.hidden_tag()}}
                <label for="title">{{form.title.label}}</label>
                {{form.title(value=entry.title)}}
                <label for="date">{{form.date.label}}</label>
                {{form.date(value=entry.date)}}
                <label for="time-spent">{{form.time_spent.label}}</label>
                {{form.time_spent(value=entry.time_spent)}}
                <label for="what-i-learned">{{form.learned.label}}</label>
                {{form.learned(value=entry.learned)}}
                <label for="resources-to-remember">{{form.resources.label}}</label>
                {{form.resources(value=entry.resources)}}
                <input type="submit" value="Publish Entry" class="button">
                <a href="{{url_for('index')}}" class="button button-secondary">Cancel</a>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
        
       