{% extends 'layout.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="edit-entry">
            <h2>Edit Entry</h2>
            <form method="POST" action="">
                {{form.hidden_tag()}}
                <label for="title">{{form.title.label}}</label>
                {{form.title(value=entry.title)}}
                <label for="date">{{form.date.label}}</label>
                {{form.date(value=entry.date)}}
                <label for="time-spent">{{form.time_spent.label}}</label>
                {{form.time_spent(value=entry.time_spent)}}
                <label for="what-i-learned">{{form.learned.label}}</label>
                <textarea id="learned" name="learned" required="">{{entry.learned}}</textarea>
                <label for="resources-to-remember">{{form.resources.label}}</label>
                <textarea id="resources" name="resources" required="">{{entry.resources}}</textarea>
                <input type="submit" name="button" value="Publish Entry" class="button">
                <a href="{{url_for('index')}}" class="button button-secondary">Cancel</a>
                <input style="background:red;border:red" type="submit" name="button" value="Delete" class="button">
            </form>
        </div>
    </div>
</section>
{% endblock content %}
        
        