{% extends 'layout.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="entry-list">
            {% for entry in entries %}
            <article>
                <h2><a href="{{url_for('detailed_entry', entry_id=entry.entry_id)}}">{{entry.title}}</a></h2>
                <time datetime="{{entry.date}}">{{entry.date}}</time>
            </article>
            {% endfor %}
            
            
        </div>
    </div>
</section>
{% endblock content %}
        