{% extends 'layout.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="entry-list">
            {% for entry in entries %}
            <article>
                <h2><a href="{{url_for('detailed_entry', entry_id=entry.entry_id)}}">{{entry.title}}</a></h2>
                <time datetime="{{entry.date}}">{{entry.date.strftime("%d/%m/%Y")}}</time>
                <h4>
                {% for tag in entry.get_tags() %}
                <a href="{{url_for("tag_index", tag=tag.tag_name)}}">{{tag.tag_name}}</a>
                {% endfor %}
                </h4>
            </article>
            {% endfor %}
            
            
        </div>
    </div>
</section>
{% endblock content %}

        