{% macro render_field(field) %}
    {% if field.label.text == "Date" %}
        <input id="date" type="date" name="date">
            {% if field.errors %}
                {% for errors in field.errors %}
                    <div class="notification error">
                    {{error}}
                    </div>
                {% endfor %}
            {% endif %}
            {{ field(placeholder=field.label.text) }}
        <br>
    {% else %}
        <div class="field">
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="notification error">
                    {{error}}
                    </div>
                {% endfor %}
            {% endif %}
            {{field(placeholder=field.label.text)}}
        </div>
    {% endif %}
{% endmacro %}